@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {     
    .slider-content {
        opacity: 0.35;
        transform: scale(0.8);
        filter: grayscale(40%) brightness(1);
        transition: all 0.6s ease-in; 
        will-change: transform, opacity, filter;
    }

    .splide__slide.is-active .slider-content {
        opacity: 1;
        transform: scale(1);
        filter: grayscale(0%) brightness(1);
        transition: all 0.6s ease-in; 
    }
}